.header_container {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hwb(0 99.5% 1%);
}
.logo {
  padding: 15px;
}
.text_container {
  font-weight: 900;
  font-size: 50px;
  font-family: serif;
}
.nav_container > ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
}

.nav_container > ul > li {
  padding: 10px;
}

li:hover {
  cursor: pointer;
  color: rgb(74, 191, 223);
  border-radius: 20px;
}

.body_container {
  width: 100%;
  overflow-x: hidden;
}
.search_container {
  height: 60px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: end;

  .input_field {
    margin-right: 15px;
  }

  input {
    width: 250px;
  }
  button,
  input {
    padding: 10px;
    border-radius: 7px;
    margin: 1px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin: 30px;
}

.card_container {
  width: 250px;
  height: 400px;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
  overflow: hidden;
  text-align: start;
  border-radius: 30px;
}
.card_text_container {
  padding-left: 5px;
  color: black;
}
.card_container:hover {
  transform: scale(0.95, 0.95);
}

.card_image_container > img {
  width: 250px;
  height: 170px;
  border-radius: 30px;
}

.footer_container {
  width: 100%;
  border: 1px solid;
  display: flex;
  text-align: start;
  justify-content: center;
  column-gap: 100px;
  background-color: black;
  color: white;
}

.login_btn {
  button {
    padding: 10px;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.error {
  padding-top: 180px;
  text-align: center;
  color: red;
}
.btns {
  height: 50px;
  text-align: start;
  margin: 0 300px 0 300px;
  display: flex;

  h6 {
    padding: 5px;
    cursor: pointer;
  }
}

.restaurant_details {
  text-align: start;
  margin: 0px 300px 0px 300px;
  .distance_box {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    text-align: center;
    border-bottom: 2px dotted rgb(217, 209, 209);
  }
  .distance {
    text-align: start;
  }
  .rating {
    margin-bottom: 5px;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
    margin-right: 100px;
  }
}
.time_distance {
  text-align: start;
  align-items: center;
  margin: 0px 300px 0px 300px;
  display: flex;
  column-gap: 20px;
}
.offer_box {
  text-align: start;
  align-items: center;
  margin: 0px 300px 0px 300px;
  border-bottom: 2px dotted rgb(217, 209, 209);
  display: flex;
  column-gap: 20px;
  h6 {
    border: 1px solid;
    padding: 10px;
    height: 50px;
    width: 200px;
    padding-top: 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(249, 253, 253);
  }
}
